.BookingCard {
    border: 1px solid black;
    border-radius: 0.25rem;
}

.BookingCard h3 {
    border-bottom: 1px solid black;
}

.GuestInformation {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
    flex-wrap: wrap;
    background: rgb(104 185 255 / 50%);
}

.CheckedIn {
    background-color: white;
}

.BookingsForm {
    border: 1px solid black;
    border-radius: 0.25rem;
}

.formWrap {
    display: grid;
    grid-template-columns: 6rem 15rem;
}

.ErrorMessage {
    color: red;
}